<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Yammu - Исследование</title>
</head>

<body>
    <div id="header">
        <ul id="menu">
            <li><a href="index.html"><img src='{{ static_url("img/logo.png")}}' alt="Yammu"/></a></li>
            <li><a href="projects.html">Проекты</a></li>
            <li><a href="timeline.html">Активности</a></li>
            <li><a href="profile.html">Профиль</a></li>
            <li><a href="add_project.html"><img src='{{ static_url("img/plus.png")}}' alt="Добавить проект" /></a></li>
        </ul>  
    </div>
    <div id="content">
        <div id="breadcrumbs"><a href="./">Сайт банка первомайский</a></div>
        <h1>Проверка формы входа</h1>
        <p>Ребят, проверяем только новую форму входа по ссылке ingage.com/login. Не забудьте почистить кэш!</p>
        <div>
            <h2 id="factor">Надёжность</h2>
            <ul id="character">
                <li>
                    <p>Предотвращение пользовательских ошибок</p>
                    <input type="radio" name="character1" value="yes">Да<br/>
                    <input type="radio" name="character1" value="no">Нет<br/>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <a href="">
            Завершить работу<br/>
            <img src="img/right.png" alt="Переход"/>
        </a>

        <p>2015<br/>Дипломная работа<br/><a href="http://www.twitter.com/wid0ki" target="_blank">@wid0ki</a></p>
    </div>
</body>

</html>