<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
<script src="{{ static_url('js/script.js') }}" type="application/javascript"></script>
    
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="/static/js/script.js" type="application/javascript"></script>
    
<title>Yammu - Активности</title>
</head>

<body name="top">
    <div class="drop"></div>
    <div id="header">
        <ul class="menu">
            <li><a href="index.html"><img src='{{ static_url("img/logo.png")}}' alt="Yammu"/></a></li>
            <li><a href="../templates/projects.html">Проекты</a></li>
            <li class="active"><a href="timeline.html">Активности</a></li>
            <li><a href="profile.html">Профиль</a></li>
            <li><a href="add_project.html"><img id="img_drop" src='{{ static_url("img/plus.png")}}' alt="Добавить проект" /></a></li>
        </ul> 
    </div>
    
    <div class="activity_content">
        <button>Последние</button><br/>
        <div id="extendresearch" style="display: block;">
            {% for research in researchs %}
                <p class="scription"><a href="research.html/{{research['id']}}">{{research['date']}}</a>{{research['description']}}</p>
           {% end %}
        </div>
    </div>
    
<div id="footer">
        <div class="left">
            <p>это всё!<br/><a href="#top">наверх</a></p>
            <img src='{{ static_url("img/up.png")}}' alt="К началу страницы"/>
        </div>
        <div class="divider">
            <img src="../static/img/line.png" alt="Просто линия"/>
        </div>
        <div class="right">
            <p class="pale">
                2015<br/>
                Дипломная работа<br/>
                <a href="http://www.twitter.com/wid0ki" target="_blank">@wid0ki</a>
            </p>
        </div>
    </div>
    
</body>

</html>